<link rel="stylesheet" href="css/style.css">
<body>
    <div class="header flex_container color1">
        <div class="header_inner center logo_container">
            <div class="logo center">
                <a href="/"><img src="/img"></a>
            </div>
        </div>
        <div class="header_inner padding15 phone_hidden">
            <h1 class="header_inner_title">404</h1>
        </div>
    </div>
    <div class="breadcrumbs_inner color3">
        <table>
            <tr>
                <td><a class="dark" href="/">Главная</a></td><td><a class="dark" href="/authors">Об авторах</a></td><td><a class="dark" href="/texts">Все произведения</a></td><td><a class="dark" href="/profile">Профиль</a></td><td><a class="dark" href="/connect">Тех.поддержка</a></td>
            </tr>
        </table>
    </div>
    <div class="main_inner">
        <div class="center">
            <h3>Упс! Кажется, что-то пошло не так. Попробуйте снова!</h3>
            <br><br><br>
            <button class="all_corners" onclick="location.href='/'">На главную</button>
        </div>
    </div>
    <div class="footer center flex_container color3">
        <div class="footer_inner padding15 logo phone_hidden">
            <a href="/"><img src="/img"></a>
        </div> 
        <div class="footer_inner padding15">
            <div class="left">
                <a class="dark" href="/">Главная</a><br>
                <a class="dark" href="/authors">Об авторах</a><br>
                <a class="dark" href="/texts">Все произведения</a><br>
                <a class="dark" href="/profile">Профиль</a><br>
                <a class="dark" href="/connect">Тех.поддержка</a><br>
            </div> 
        </div> 
    </div>
</body>