<!DOCTYPE html>
<html>
	<head>
  		<title>Имаджинейшн</title>
		<link rel="stylesheet" href="css/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="js/jquery-3.7.1.min.js"></script>
        <script>
		$(document).ready(function() {
			$("body").on("mouseover", function () {
				if ($("#nm").val() != "" && $("#email").val() != "" && $("#problem").val() != "")
				{
					$("button[data-do='send']").removeAttr("disabled");
				}
				else {
					$("button[data-do='send']").attr("disabled", "true");
				}
			});
		});
        </script>
	</head>
	<body>
		<div class="header flex_container color1">
			<div class="header_inner center logo_container">
				<div class="logo center">
					<a href="/"><img src="/img"></a>
				</div>
			</div>
			<div class="header_inner center padding15">
				<h1 class="header_inner_title">Тех.поддержка</h1>
			</div>
		</div>
		<div class="breadcrumbs_inner color3">
			<table>
                <tr>
                    <td><a class="dark" href="/">Главная</a></td><td><a class="dark" href="/authors">Об авторах</a></td><td><a class="dark" href="/texts">Все произведения</a></td><td><a class="dark" href="/profile">Профиль</a></td><td>Тех.поддержка</td>
                </tr>
            </table>
		</div>
		<div class="main_inner">
			<div class="contact_container flex_container">		
				<div class="contact_inner">
					<span class="bigger_text">Что-то пошло не так? Напишите нам, и мы обязательно поможем с вашей проблемой:</span><br><br>
					<h3><%=response %></h3>
					<form action="/help" method="post">
					<div class="input_container">
						<div>Как к Вам обращаться?</div>
						<input type="text" placeholder="Имя" id="nm" name="nm" required />
					</div>
					<div class="input_container">
						<div>Введите почту:</div>
						<input type="email" id="email" name="email" placeholder="email@email.email" required />
					</div>
					<div class="input_container">
						<div>Опишите проблему:</div>
						<textarea placeholder="Мяу" id="problem" name="problem" required></textarea>
					</div>
					<button data-do="send" class="all_corners" type="submit" disabled>Помогите мне!</button><br><br>
					</form>
					<br>
					<div class="center">
						<button class="all_corners" onclick="location.href='index.php'">На главную</button>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="footer center flex_container color3">
			<div class="footer_inner padding15 logo phone_hidden">
				<a href="/"><img src="/img"></a>
			</div> 
			<div class="footer_inner padding15">
				<div class="left">
					<a class="dark" href="/">Главная</a><br>
					<a class="dark" href="/authors">Об авторах</a><br>
					<a class="dark" href="/texts">Все произведения</a><br>
					<a class="dark" href="/profile">Профиль</a><br>
					<a class="dark" href="/connect">Тех.поддержка</a><br>
				</div> 
			</div> 
		</div>
	</body>
</html>